<div class="card my-4">
    <h5 class="card-header">Side Widget</h5>
    <div class="card-body">
        100% useful infomation.
    </div>
</div>

<div class="card my-4">
    <h5 class="card-header">Cheat codes</h5>
    <div class="card-body">

        <form method="post" action="/cheatcodes">
            <div class="input-group">
                <input type="text" class="form-control" name="cheatcode" placeholder="####">
                <button class="btn btn-secondary w-25" type="submit">Go!</button>
            </div>
        </form>
    </div>
</div>