<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Blog</title>

    <style>
        html, body {
            height: 100%;
        }
    </style>
</head>
<body class="bg-dark d-flex flex-column h-100">
    <header>
        <%- include('stuff/nav'); %>
    </header>

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center text-white">
                <% user.bookmarks.forEach(function(bookmark){ %>
                    <%- include('stuff/bookmark', {bookmark: bookmark}); %>
                <% }); %>
            </div>
        </div>
    </main>
    <footer class="footer mt-auto bg-primary text-white text-center text-lg-start">
        <%- include('stuff/fotter'); %>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
</body>
</html>